{{#partial "content"}}
    <div class="well">
        <h1>{{department.name}}</h1>
        <p>USERS INFO</p>
        <div class="row">
            <div class="col-md-6">
                <ul>
                    {{#if users}}
                        {{#each users}}
                            <li>
                                <p><a href="/users/{{id}}">{{userName}}</a></p>
                            </li>
                        {{/each}}
                    {{else}}
                        <p>No users<p>
                    {{/if}}
                </ul>
            </div>

            <div class="col-md-6">
                All news in this department
                <ul>
                    {{#if news}}
                        {{#each news}}
                            <li>
                                <p>{{news}}</p>
                            </li>
                        {{/each}}
                    {{else}}
                        <p>No news </p>
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}